.questionContainer {
  padding: 16px;

  textarea {
    background-color: rebeccapurple;
  }

  button.correct {
    background-color: #22c55e;
  }

  button.incorrect {
    background-color: #dc2626;
  }
}
