.questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 12px;
  margin: 8px 0;

  .answerButton {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    padding: 10px;
    cursor: pointer;
    color: rgb(182, 182, 182);
  }

  .active {
    color: #1a1a1a;
    border-radius: 8px;
    background-color: rgba(#5dca9e, 0.1);
  }
}

button.correct {
  background-color: rgba(#5dca9e, 0.6);
}

button.incorrect {
  background-color: rgba(#ff4d4d, 0.8);
  color: white;
}

@media (max-width: 576px) {
  .questions {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

@media (hover:hover) {
  .answerButton {
    &:hover {
      outline: dotted 5px #bebebe;
      border-radius: 8px;
    }
  }
}