._input {
  background-color: transparent;
  color: #1a1a1a;
  outline: none;
}

.input {
  background-color: #f6f7f9;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;

  &:hover {
    outline: dotted 4px #0000003f;
  }

  .icon {
    background-color: white;
    color: #9d9fe6;
    padding: 8px;
    border-radius: 12px;
  }

  .input_form {
    @extend ._input;
  }
}

.textarea {
  @extend ._input;
  border-radius: 4px;
  background-color: #f6f7f9;
  padding: 8px 12px;
  resize: none;

  &:hover {
    outline: dotted 4px #0000003f;
  }
}
